<div class="bottom-right">
  <h5>
    <% const dateNow = Date.now() %> <% const today = new Date(dateNow) %> 
  <%=today.toDateString()%>
  <% if(user){ %>
    | Logged in as :  <%=user.firstname%>
<% } %>   
</h5>
</div>

