<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Watchlist</a>
          </li>
        </ul>
        <%if (user) { %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } else { %>
        <a class="nav-link" href="/login">Login</a>
        <%}%>
        <a class="nav-link" href="/register">Register</a>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        
      </div>
    </div>
  </nav>