
      <div class="flex-navigation">
        <div>
          <form action="/lookup" method="POST">        
            <input type="text" placeholder="Search for symbol or name" class="search-field" name="keyword">
              <!-- <button type="submit" class="search-button"><img src="/assets/search.png"></button> --></li>
            </form>       
        </div>
        <div><ul class="nav">        
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/watchlist">Watchlist</a>
          </li>
          <li>
            <a href="/news">News</a>
          </li>        
          <%if (user) { %>        
          <li><a class="nav-link" href="/user">Account</a></li>
          <li><a class="nav-link" href="/logout">Logout</a></li>
          <% } else { %>
          <li><a class="nav-link" href="/login">Login</a></li>
          <li><a class="nav-link" href="/register">Register</a></li>
          <%}%>
        </ul> </div>
      </div>
      
      
      
        
