<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head.ejs')%>
</head>
<body>
      <section class="layout">
        <div class="logo"><img src="/assets/logo.png" class="logo"></div>
        <div class="header"><%- include('../views/partials/header.ejs')%> </div>
        <!-- <div class="search">     
            
        </div> -->
        <div class="navigation">
            <%- include('../views/partials/navigation.ejs')%>
        </div>
        <div class="main"><%- body%></div>        
      </section>
    <script src="/js/script.js"></script>    
</body>
</html>