@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
  /* Reset browser's padding and margin */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(255, 255, 255);
  font-family: 'DM Sans', sans-serif;
}
/* start layout  */
.layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    'logo header header' 150px
    'navigation navigation navigation' 50px
    'main main main' 1fr
    / 300px 1fr 240px;
}

.logo {
  grid-area: logo;
}
.header {
  grid-area: header;
  position:relative;
  background: linear-gradient(to left, transparent, rgb(255,255,255)),
      url('../assets/banner.jpg');
  object-fit: fill;
}
.search {
  grid-area: search;
  background-color: rgba(28,158,117,57);
  padding: 8px 5px 2px 5px;
  box-shadow: 0px 15px 10px -15px #111;  
}
.navigation {
  grid-area: navigation;
  background-color: rgba(28,158,117,57);
  padding: 5px 5px 2px 5px;
  box-shadow: 0px 15px 10px -15px #111;  
  background-image: linear-gradient(to right, rgba(28,158,117,57),rgba(0,136,255,.5));
}
.main {
  grid-area: main;
  padding: 10px 5px 10px 10px;  
}
.extra {
  grid-area: extra;
  padding: 10px 10px 10px 5px;
}
/* end layout */

a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
}
a:hover {
  color: rgba(95,184,57,65);
}

.flex-container {
  display: flex;   
  /* align-items: flex-start;  */
  align-items: stretch; 
  /* flex-flow: row wrap; */ 
  flex-direction: row; 
  flex-wrap: wrap; 
  align-content: flex-start;
  height: 100%;
  padding: 5px;
  gap: 5px;
  justify-content: center;
}
.flex-navigation {
  display: flex;   
  align-items: flex-start; 
  /* flex-flow: row nowrap; */ 
  flex-direction: row; 
  flex-wrap: nowrap; 
  align-content: flex-start;  
  height: 100%;
  padding: 2px;  
  gap: 5px;
}
.nav {  
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  
}
.nav li {
  display: inline;
}
.nav a {
  display: inline-block;
  padding: 10px;
  color:rgb(255, 255, 255);
}
.nav a:hover {
  display: inline-block;
  padding: 10px;
  color:rgb(216, 243, 142);
}

/* start search button */
.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  width:max-content;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -23px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  align-content: center;
}
/* end search button */
.logo {
  height: 150px;
  width: 150px;
}
/* cards */
/* .card {
  display: flex;
  flex-direction: column;
  border-right:.05rem solid rgba(66, 66, 66, 0.5);
  border-top:.05rem solid rgba(66, 66, 66,.5);
  border-bottom:.2rem solid rgba(66, 66, 66,.5);
  border-left:.2rem solid rgba(66, 66, 66,.5);
  border-radius: 5px;
  width: 300px;    
} */
.card-cover {  
  height: 30px;
  width: 100%;
  padding: 3px 3px 3px 3px;  
}
.card-content {
  /* Take available height */
  flex: 1;
  padding:3px 3px 3px 3px;
  background-color: rgb(255,255,255);
}
img {
  width:200px;
}
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: rgb(255,255,255);
  
}
.card-profile {
  width: 30%;
  /* border-radius: 5px; */
  border: .05rem solid rgb(227, 230, 226);
  height: fit-content;
  padding: 10px 10px 10px 10px;
  background-color: rgb(249, 251, 252);   
  box-shadow: 1px 5px 5px -2px rgba(44, 44, 44,.6);    
}

.card-quote {
  width: 400px;
  min-width: 300px;
  /* border-radius: 5px; */
  border: .05rem solid rgb(227, 230, 226);
  height: fit-content;
  padding: 10px 10px 10px 10px;
  background-color: rgb(249, 251, 252);  
  box-shadow: 1px 5px 5px -2px rgba(44, 44, 44,.6);    
}
.card{
  width:500px;
  /* border-radius: 5px; */
  border: .05rem solid rgb(227, 230, 226);
  height: fit-content;
  padding: 10px 10px 10px 10px;  
  background-color: rgb(249, 251, 252);
  box-shadow: 1px 5px 5px -2px rgba(44, 44, 44,.6);      
  overflow-wrap: break-word;
}
.card-chart{
  width:800px;
  /* border-radius: 5px; */
  border: .05rem solid rgb(227, 230, 226);
  height: fit-content;
  padding: 10px 10px 10px 10px;  
  background-color: rgb(249, 251, 252);
  box-shadow: 1px 5px 5px -2px rgba(44, 44, 44,.6);      
  overflow-wrap: break-word;
}
.header {
  font-weight: 700;
  font-size: 15px;
}
.sub-header {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}
.header-muted {
  font-weight: 700;
  font-size: 14px;
  color:rgb(87, 87, 87);
  
}
.sub-header-muted {
  font-weight: 400;
  font-size: 14px;
  color:rgb(87, 87, 87);
  padding-bottom: 10px;
}

.shadow-top {
  box-shadow: 0px -15px 10px -15px #111;    
}
.shadow-bottom {
  box-shadow: 0px 15px 10px -15px #111;    
}
.shadow-left {
  box-shadow: -15px 0px 10px -15px #111;    
}
.shadow-right {
  box-shadow: 15px 0px 10px -15px #111;    
}

.btn-link {
  font-size: 12px;
  background-color: rgba(255,255,255,0);
  border: 0;
  font-family: 'DM Sans', sans-serif;
  color: rgba(0,0,0,1);
}
.btn-link:hover {
  font-size: 12px;
  background-color: rgba(255,255,255,0);
  border: 0;
  font-family: 'DM Sans', sans-serif;
  color: rgba(95,184,57,65);
}
img.thumbnail {
  width: 100px;    
  background-color: rgb(255,255,255) ;
  box-shadow: 0px 15px 10px -15px #111;    
}
.card-news-text {
  width:300;
  /* border-radius: 5px; */
  border: .05rem solid rgb(227, 230, 226);
  height: fit-content;
  padding: 10px 10px 10px 10px;  
  background-color: rgb(249, 251, 252);
  box-shadow: 1px 5px 5px -2px rgba(44, 44, 44,.6);      
}
.wrap-img {
  text-align: justify;
}
td{  
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  padding-top:15px;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.danger {
  color:rgb(201, 6, 6);
}
.success {
  color: rgb(0, 233, 0);
}
.card-portfolio {
  width:fit-content;
  min-width: 900px;
  /* border-radius: 5px; */
  border: .05rem solid rgb(227, 230, 226);
  height: fit-content;
  padding: 10px 10px 10px 10px;
  background-color: rgb(249, 251, 252);  
  box-shadow: 1px 5px 5px -2px rgba(44, 44, 44,.6);    
}
table {
  width: 100%;
}
th {
  font-weight: 700;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-bottom: .05rem solid
}
.bottom-border {
  border-bottom: .05rem solid rgb(83, 81, 81);
}
button {
  background-color:rgba(28,158,117,57);
  border: .05rem solid rgb(83, 81, 81);
  padding: 5px 10px 5px 10px;
  color:rgb(255, 255, 255);
  font-weight: bold;
}
button:hover {
  background-color: rgba(0,136,255,1);
  border: .05rem solid rgb(83, 81, 81);
  padding: 5px 10px 5px 10px;
  color:rgb(255, 255, 255);
  font-weight: bold;
}
button:focus{
  background-color:rgba(0,136,255,1);
  border: .05rem solid rgb(83, 81, 81);
  padding: 5px 10px 5px 10px;
  color:rgb(255, 255, 255);
  font-weight: bold;
}
input {
  background-color: rgb(249, 251, 252);
  padding: 5px 10px 5px 10px;
  border: .5rem solid;
  border: .05rem solid rgb(83, 81, 81);
}
select {
  border: .05rem solid rgb(83, 81, 81);
  background-color: rgb(249, 251, 252);
  padding: 5px 10px 5px 10px;
}
.card-news-full {
  width:100%;
  /* border-radius: 5px; */
  border: .05rem solid rgb(227, 230, 226);
  height: fit-content;
  padding: 10px 10px 10px 10px;  
  background-color: rgb(249, 251, 252);
  box-shadow: 1px 5px 5px -2px rgba(44, 44, 44,.6);      
  overflow-wrap: break-word;
}
.ticker{
  font-size: 12px;
  font-weight: normal;
}