<div>
    <legend>Portfolio</legend>
    <p><%=message%></p>
    <div>
        <form action="/portfolio/add" method="POST">        
            <input type="text" placeholder="Portolio name" name="portfolio">
            <button type="submit">Add</button>
          </form>
    </div>
  </div>
  