<div class="flex-container">
<div class="card-quote">
  <h4>Portfolio</h4>
  <h5><%=message%></h5>
  <br>
  <hr>
  <br>    
    <p>
        <form action="/portfolio/add" method="POST">        
            <input type="text" placeholder="Portolio name" name="portfolio">
            <button type="submit">Add</button>
          </form>
    </p>
</div>  
</div>

  