<div class="container-full">
  <legend>Portfolio</legend>
  <p class="text-warning"><%=message%></p>
  <div>Stocks</div>

  <table class="table table-hover">
    <thead>      
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">Column heading</th>
        <th scope="col">Column heading</th>
      </tr>      
    </thead>
    <tbody>
      <% if(portfolio) { %> 
        <% portfolio.forEach(element => { %>
    <tr>
      <td scope="row"><p><strong><%=element.symbol%></strong></p><p><small><%=element.stockname%></small></p></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% }) %>
    <% } %> 
  </tbody>
  </table>
</div>
