<div class="container-full">
  <legend>Portfolio</legend>
  <p class="text-warning"><%=message%></p>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
  </div>
</div>
