<div class="container-full">
  <legend>Portfolio</legend>
  <p class="text-warning"><%=message%></p>
  <div>
    <%if(portfolio) {%>
    <div class="list-group">
      <% portfolio.forEach(e => { %>
      
        <a href="/portfolio/details/<%=e.id%>" class="list-group-item list-group-item-action"><%= e.portfolioname %> </a>
        <!-- <a href="#"><span class="badge bg-primary rounded-pill">Delete</span></a> -->
      
      <%})%>      
    </div>
    <%}%>
    <div>
      <br>
      <a href="/portfolio/add">➕ Portfolio</a>
  </div>

</div>
