<div class="flex-container">
  <div class="card">
    <h4>Portfolio</h4>
    <br>
    <h6><%=message%></h6>
    <hr>
    <br>
    <%if(portfolio) {%>
      <% portfolio.forEach(e => { %>
        <p class="sub-header">
          <a href="/portfolio/details/<%=e.id%>"><%= e.portfolioname %> </a>
        </p>
        <br>
      <%})%>     
      <p class="sub-header"><a href="/portfolio/add">➕ Portfolio</a></p>
      <%}%>
  </div>
</div>



