<div class="container-full">
  <legend>Portfolio</legend>
  <p class="text-warning"><%=message%></p>
  <div>
 
    <h5>Select portofolio</h5>
<% portfolio.forEach(e => { %>
  <a href="/portfolio/details/<%=e.id%>"><%= e.portfolioname %> </a><br> 
<% }) %>
  </div>
  <a href="/portfolio/add">➕ Portfolio</a>



</div>
