<div class="flex-container">
  <div class="card-forms">
  <h4>Register</h4>
  <h3 class="danger"><%=message%></h3>
  <br>
  <hr>
  <br>
    <form action="/register" method="POST">
    <table>
      <tr>
        <td class="header-muted"><label for="inputEmail">Email address</label></td>
        <td class="header-muted"><input type="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email" /><br />
        <small id="emailHelp">We'll never share your email with anyone else.</small></td>
      </tr>
      <tr>
        <td class="header-muted"><label for="inputPassword">Password</label></td>
        <td class="header-muted"><input type="password" id="inputPassword" placeholder="Password" name="password" /></td>
      </tr>
      <tr>
        <td class="header-muted"><label for="inputUsername">User name</label>
         </td>
        <td class="header-muted"> <input type="text" maxlength="25" id="inputUsername" placeholder="User Name" name="username" required /></td>
      </tr>    
      <tr>
        <td class="header-muted"><label for="inputFirstName">First Name</label>          </td>
        <td class="header-muted"><input id="inputFirstName" placeholder="First Name" name="firstname" /></td>
      </tr>    
      <tr>
        <td class="header-muted"><label for="inputLastName">Last Name</label></td>
        <td class="header-muted"><input type="text" maxlength="25" id="inputLastName" placeholder="Last Name" name="lastname" /></td>
      </tr>    
      <tr>
        <td class="header-muted"></td>
        <td class="header-muted"><button type="submit">Register</button></td>
      </tr>    
    </table>
  </form>
  </div>
</div>
